body {
	margin: 0;
	margin-bottom: 10%;
	padding: 0;
	background-image: url("https://i.stack.imgur.com/Mv83H.png");
	background-attachment: fixed;
	text-align: center;
  
	background-size: cover;
     }

.jumbotron {
	font-family: 'Star Jedi', arial;
	background: transparent;
	border: 3px solid yellow;
	width: 100%;
	color: yellow;
	
	border-radius: 15px;
		   }

h1, h2, h3 {
	color: yellow;
		   }

.btn-info {
	color: yellow;
	background: transparent;
	border: 3px solid yellow;
	width: 20%;
	
	border-radius: 15px;
		  }
		  
.btn-info:hover {
	background: transparent;
				}
		  	  
.btn-danger {
	color: yellow;
	background: transparent;
	border: 3px solid yellow;
	width: 20%;
	
	border-radius: 15px;
		  }

.btn-danger:hover {
	background: transparent;
				 }
				 
ul  {	
	padding: 30px;
	}
